<!DOCTYPE html>
<html lang="en">
<head>
<title>Template</title>
  <meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;"/>
  <link rel="icon" type="image/png" href="iui/iui-favicon.png">
  <link rel="apple-touch-icon" href="iui/iui-logo-touch-icon.png" />
  <meta name="apple-mobile-web-app-capable" content="yes" />
  <link rel="stylesheet" href="iui/compiui.css" type="text/css" />

  <link rel="stylesheet" title="Default" href="iui/t/default/default-theme.css"  type="text/css"/>
  <link rel="stylesheet" href="css/iui-panel-list.css" type="text/css" />
  
  <script type = 'text/javascript'>
    var djConfig = {
        isDebug: false,
        parseOnLoad: true,
        baseUrl: './'
      };
  </script>
  <script src="http://ajax.googleapis.com/ajax/libs/dojo/1.5/dojo/dojo.xd.js" type="text/javascript"></script>
  <script type="text/javascript" src="/libs/uow/trace.js"></script>
  <script type="text/javascript" src="/libs/uow.js"></script>
  <script type = "text/javascript">
  
    var topTabs = [
        {
            "name": "#school",
            "nameTag":"school",
            "image": "school.jpg",
            "audioImages": [
                {
                    "pic":"math.jpg",
                    "word":"math",
                    "nameTag":"1",
                    "phrase":"numbers are cool"
                },
                {
                    "pic":"socialStudies.gif",
                    "word":"culture",
                    "nameTag":"2",
                    "phrase":"learning culture around the world"
                },
                {
                    "pic":"english.jpg",
                    "word":"english",
                    "nameTag":"3",
                    "phrase":"Americans speak english"
                },
                {
                    "pic":"chemistry.jpg",
                    "word":"chemistry",
                    "nameTag":"4",
                    "phrase":"foundation to pharmacy"
                },
                {
                    "pic":"biology.jpg",
                    "word":"biology",
                    "nameTag":"5",
                    "phrase":"studying the mechanism of life"
                },
                {
                    "pic":"psychology.jpg",
                    "word":"psychology",
                    "nameTag":"6",
                    "phrase":"studying the human mind"
                },
                {
                    "pic":"art.gif",
                    "word":"art",
                    "nameTag":"7",
                    "phrase":"i want to be an artist"
                },
                {
                    "pic":"economics.gif",
                    "word":"economics",
                    "nameTag":"8",
                    "phrase":"how does money work"
                },
                {
                    "pic":"physics.jpg",
                    "word":"physics",
                    "nameTag":"9",
                    "phrase":"newton discovered gravity"
                }
            ]
        },
        {
            "name": "#family",
            "nameTag":"family",
            "image": "family.jpg",
            "audioImages": [
                {
                    "pic":"mother.jpg",
                    "word":"mother",
                    "nameTag":"10",
                    "phrase":"mother gave birth to me"
                },
                {
                    "pic":"father.jpg",
                    "word":"father",
                    "nameTag":"11",
                    "phrase":"I took my father's last name"
                }
            ]
        },
        {
            "name": "#career",
            "nameTag":"career",
            "image": "career.jpg",
            "audioImages": [
                {
                    "pic":"teacher.jpg",
                    "word":"teacher",
                    "nameTag":"12",
                    "phrase":"I learn from the teacher"
                },
                {
                    "pic":"janitor.gif",
                    "word":"janitor",
                    "nameTag":"13",
                    "phrase":"janitor keeps place clean"
                }
            ]
        }
    ]
    var bottomTabs = [
        {
            "name": "#animal",
            "nameTag":"animal",
            "image": "animals.jpg",
            "audioImages": [
                {
                    "pic":"cat.jpg",
                    "word":"cat",
                    "nameTag":"14",
                    "phrase":"cat catches mouse"
                },
                {
                    "pic":"frog.jpg",
                    "word":"frog",
                    "nameTag":"15",
                    "phrase":"frog goes rabbit rabbit"
                }
            ]
        }, 
        {
            "name": "#plant",
            "nameTag":"plant",
            "image": "plant.jpg",
            "audioImages": [
                {
                    "pic":"rose.jpg",
                    "word":"rose",
                    "nameTag":"16",
                    "phrase":"rose smells good"
                },
                {
                    "pic":"pine.jpg",
                    "word":"pine",
                    "nameTag":"17",
                    "phrase":"pine tree survives year-round"
                }
            ]
        },
        {
            "name": "#math",
            "nameTag":"math",
            "image": "number.gif",
            "audioImages": [
                {
                    "pic":"algebra.jpg",
                    "word":"algebra",
                    "nameTag":"18",
                    "phrase":"manipulating number in equations"
                },
                {
                    "pic":"geometry.gif",
                    "word":"geometry",
                    "nameTag":"19",
                    "phrase":"learning about properties of shapes"
                }
            ]
        } 
    ]
    
    var currentTab = null;
  
        function startUp() {
            uow.getAudio().addCallback(start);
        }
        function start(audio) { 
            var toolbar = dojo.create("div", {className:"toolbar"},dojo.body());
            var deBody = dojo.create("div", {className:"panel",selected:"true", id:""}, dojo.body());
            
            audio.setProperty({name:'rate',value: 100, channel:'sound'});
            audio.setProperty({name:'voice',value: 'default+f4',channel:'sound'});

            
            createTabs(audio);
            
            var imgTable = dojo.create("table",{id:"#tTable",selected:"true",style:{"border-collapse":"collapse","border":"1px solid black","font-size": "75%","width":"99.9%"}},toolbar);
            var tr = dojo.create("tr",{id:"#tTr",style:{"border-collapse":"collapse"}},imgTable);
            dojo.forEach(topTabs, function(tab) {
                var td = dojo.create("td",{id:"#tTd",align:"center",style:{"border-right-style":"1px solid black","width":"33.3%"}}, tr);
                var caption = dojo.create("div",{innerHTML:tab.nameTag, selected:"true", style:{"align":"center"}},td);
                var a = dojo.create("a",{href:tab.name},td);
                var image = dojo.create("img",{src:tab.image, height:"45px", width:"50px"}, a);
                dojo.connect(a, 'onmouseup', function() {
                    if (currentTab != tab) {
                        if (currentTab!=null) {
                            if (currentTab.nameTag!=null) {
                                document.getElementById(currentTab.nameTag).setAttribute("selected","false");
                            }
                            else {
                                document.getElementById("form").setAttribute("selected","false");
                            }
                        }
                        currentTab = tab;
                        a.href = tab.name;
                        document.getElementById(currentTab.nameTag).setAttribute("selected","true");
                    }
                    else {
                        a.href = "javascript://";
                    }
                });
            });
            
            var leftTable = dojo.create("table",{id:"sideTable",style:{"width":'12.5%',"height":'80%'},selected:"true"},dojo.body());
                //var tr = dojo.create("tr",null,leftTable);
                var td = dojo.create("table",{id:"sidetd1",style:{"height":"25%","width":'100%'}, innerHTML:"Please give me a moment to respond."},leftTable);
                    dojo.connect(td, 'onmouseup',dojo.hitch(this,playSound,audio,"Please give me a moment to respond."));
                //var tr = dojo.create("tr",null,leftTable);
                var td = dojo.create("table",{id:"sidetd1",style:{"height":"25%","width":'100%'}, innerHTML:"I don't understand"},leftTable);
                    dojo.connect(td, 'onmouseup',dojo.hitch(this,playSound,audio,"I don't understand"));
                //var tr = dojo.create("tr",null,leftTable);
                var td = dojo.create("table",{id:"sidetd1",style:{"height":"25%","width":'100%'},innerHTML:"Can you repeat that, please?"},leftTable);
                    dojo.connect(td, 'onmouseup',dojo.hitch(this,playSound,audio,"Can you repeat that, please?"));
                //var tr = dojo.create("tr",null,leftTable);
                var td = dojo.create("table",{id:"sidetd1",style:{"height":"25%","width":'100%'}, innerHTML:"I need help."},leftTable);
                    dojo.connect(td, 'onmouseup',dojo.hitch(this,playSound,audio,"I need help"));
            
            var rightTable = dojo.create("table",{id:"sideTable",style:{"width":"12.5%","height":"80%","left":"87.5%"},selected:"true"},dojo.body());
            //var tr = dojo.create("tr",{style:{"width":'12.5%'}},rightTable);
            var td = dojo.create("table",{id:"sidetd2",style:{"height":"50%","width":'100%'}, innerHTML:"Display Text Button"},rightTable);
                dojo.connect(td,'onmouseup',dojo.hitch(this,display));
            //var tr = dojo.create("tr",{style:{"width":'12.5%'}},rightTable);
            var td = dojo.create("table",{id:"sidetd2",style:{"height":"50%","width":'100%'}, innerHTML:"Keyboard Button"},rightTable);
                dojo.connect(td,'onmouseup',function() {
                    if (currentTab != document.getElementById("form")) {
                        if (currentTab!=null) {
                            document.getElementById(currentTab.nameTag).setAttribute("selected","false");
                        }
                        currentTab = document.getElementById("form");
                        td.href = "form";
                        currentTab.setAttribute("selected","true");
                    }
                    else {
                        td.href = "javascript://";
                    }
                });
            
            var footer = dojo.create("div",{className:"menu",selected:"true"},dojo.body());
    
            var imgTable2 = dojo.create("table",{id:"#tTable",selected:"true",style:{"border-collapse":"collapse","border":"1px solid black","font-size": "75%","width":"99.9%","height":"17%"}, height:"17%"},footer);
            var tr = dojo.create("tr",null,imgTable2);
            dojo.forEach(bottomTabs, function(tab) {
                var td = dojo.create("td",{align:"center",style:{"width":"33.3%","border-right-style":"1px solid black","padding-top":"10px","padding-bottom":"25px"}}, tr);
                var caption = dojo.create("div",{innerHTML:tab.nameTag, selected:"true", style:{"align":"center"}},td);
                var a = dojo.create("a",{href:tab.name},td);
                var image = dojo.create("img",{src:tab.image, height:"45px", width:"50px"}, a);
                dojo.connect(a, 'onmouseup', function() {
                    if (currentTab != tab) {
                        if (currentTab!=null) {
                            if (currentTab.nameTag!=null) {
                                document.getElementById(currentTab.nameTag).setAttribute("selected","false");
                            }
                            else {
                                document.getElementById("form").setAttribute("selected","false");
                            }
                        }
                        currentTab = tab;
                        a.href = tab.name;
                        document.getElementById(currentTab.nameTag).setAttribute("selected","true");
                    }
                    else {
                        a.href = "javascript://";
                    }
                });
            });
        }
        function createTabs(audio) {
            dojo.forEach(topTabs, function(tab) {
                var div = dojo.create("div",{id:tab.nameTag,className:"panel",style:{"top":"17%","left":"20%","width":"54%","height":"80%"}},dojo.body());
                dojo.forEach(tab.audioImages,function(stuff) {
                    var imgDiv = dojo.create("div",{align:"center",style:{"caption-side":"top","width":"33%","height":"26%","float":"left"}},div);
                    var caption = dojo.create("div",{id:"mainCap", style:{"font-size": "150%", "display":"block"}, innerHTML:stuff.word, selected:"true"},imgDiv);
                    var a = dojo.create("a",{href:"javascript:;"},imgDiv);
                    var img = dojo.create("img",{src:stuff.pic, id:"mainImg",height:"80%", width:"80%", alt:stuff.word},a);
                        //dojo.connect(a,'onmouseup',dojo.hitch(this,'playSound',audio,stuff.word));
                        //dojo.connect(a, 'onmouseup',dojo.hitch(this,'bigImage',audio,stuff.pic,stuff.phrase));
                        dojo.connect(a,'onmouseup',function() {
                            if (currentTab != stuff) {
                                if (currentTab!=null) {
                                    if (currentTab.nameTag!=null) {
                                        document.getElementById(currentTab.nameTag).setAttribute("selected","false");
                                    }
                                    else {
                                        document.getElementById("form").setAttribute("selected","false");
                                    }
                                }
                                currentTab = stuff;
                                a.href = "#"+stuff.nameTag;
                                document.getElementById(currentTab.nameTag).setAttribute("selected","true");
                            }
                        });
                });
            });
            dojo.forEach(bottomTabs, function(tab) {
                var div = dojo.create("div",{id:tab.nameTag,className:"panel",style:{"top":"17%","left":"20%","width":"54%","height":"80%"}},dojo.body());
                dojo.forEach(tab.audioImages,function(stuff) {
                    var imgDiv = dojo.create("div",{align:"center",style:{"caption-side":"top","width":"33%","height":"26%","float":"left"}},div);
                    var caption = dojo.create("div",{id:"mainCap", style:{"font-size": "150%", "display":"block"}, innerHTML:stuff.word, selected:"true"},imgDiv);
                    var a = dojo.create("a",{href:"javascript:;"},imgDiv);
                    var img = dojo.create("img",{src:stuff.pic, id:"mainImg",height:"80%", width:"80%", alt:stuff.word},a);
                        //dojo.connect(a,'onmouseup',dojo.hitch(this,'playSound',audio,stuff.word));
                        //dojo.connect(a,'onmouseup',dojo.hitch(this,'bigImage',audio,stuff.pic,stuff.phrase));
                        dojo.connect(a,'onmouseup',function() {
                            if (currentTab != stuff) {
                                if (currentTab!=null) {
                                    if (currentTab.nameTag!=null) {
                                        document.getElementById(currentTab.nameTag).setAttribute("selected","false");
                                    }
                                    else {
                                        document.getElementById("form").setAttribute("selected","false");
                                    }
                                }
                                currentTab = stuff;
                                a.href = "#"+stuff.nameTag;
                                document.getElementById(currentTab.nameTag).setAttribute("selected","true");
                            }
                        });
                });
            });
            
            
            
            dojo.forEach(topTabs, function(tab) {
                dojo.forEach(tab.audioImages,function(stuff) {
                var div = dojo.create("div",{id:stuff.nameTag,className:"panel",style:{"top":"17%","left":"25%","width":"54%","height":"80%"}},dojo.body());              
                    var imgDiv1 = dojo.create("div",{align:"center",style:{"caption-side":"top","width":"100%","height":"26%","float":"left"}},div);
                        var caption = dojo.create("div",{id:"Cap", style:{"display":"block"}, innerHTML:stuff.phrase, selected:"true"},imgDiv1);
                        var a1 = dojo.create("a",{href:"javascript:;"},imgDiv1);
                            var img = dojo.create("img",{src:stuff.pic, id:"mainImg",style:{"height":"250%", "width":"100%"}, alt:stuff.phrase},a1);
                                dojo.connect(a1,'onmouseup',dojo.hitch(this,'playSound',audio,stuff.phrase));    
                });
            });
            
            dojo.forEach(bottomTabs, function(tab) {
                dojo.forEach(tab.audioImages,function(stuff) {
                    var div = dojo.create("div",{id:stuff.nameTag,className:"panel",style:{"top":"17%","left":"25%","width":"54%","height":"80%"}},dojo.body());              
                        var imgDiv1 = dojo.create("div",{align:"center",style:{"caption-side":"top","width":"100%","height":"26%","float":"left"}},div);
                            var caption = dojo.create("div",{id:"Cap", style:{"display":"block"}, innerHTML:stuff.phrase, selected:"true"},imgDiv1);
                            var a1 = dojo.create("a",{href:"javascript:;"},imgDiv1);
                                var img = dojo.create("img",{src:stuff.pic, id:"mainImg",style:{"height":"250%", "width":"100%"}, alt:stuff.phrase},a1);
                                    dojo.connect(a1,'onmouseup',dojo.hitch(this,'playSound',audio,stuff.phrase));    
                });
            });
            
            var formDiv = dojo.create("div",{id:"form",className:"panel",style:{"top":"20%","left":"15%","width":"70%","height":"80%"}}, dojo.body());
            var form = dojo.create("form",null,formDiv);
            var word = dojo.create("textarea",{id:"word",cols:"35",rows:"17",style:{"height":"100%", "width":"100%"}},form);
            var speak = dojo.create("input",{id:"speak",type:"button",value:"speak",onclick:"javascript:;",style:{"vertical-align":"bottom"}},form);
                dojo.connect(speak,'onmouseup',dojo.hitch(this, function() {
                   playSound(audio,form.elements[0].value);
                }));
        }
        
        function playSound(audio, word) {
            audio.stop({channel:"sound"});
            audio.say({text:word, channel:"sound"});                            
       }
       
       function display() {
          if (currentTab!=null) {
            for (var i=0; i<document.getElementsByTagName("div").length; i++) {
                if(document.getElementsByTagName("div").item(i).parentNode.parentNode.id == currentTab.nameTag && document.getElementsByTagName("div").item(i).id!="Cap") {
                    if (document.getElementsByTagName("div").item(i).id = "mainCap" && document.getElementsByTagName("div").item(i).style.display == "block"){
                        document.getElementsByTagName("div").item(i).style.display="none";
                    }
                    else if (document.getElementsByTagName("div").item(i).id = "mainCap" && document.getElementsByTagName("div").item(i).style.display == "none"){
                        document.getElementsByTagName("div").item(i).style.display="block";
                    }
                }
            }
         }
       }
       
        dojo.addOnLoad(startUp);
  </script>
</head>
<body>
</body>
</html>