<html>
<title>Example file upload</title>
<head>
<meta charset="utf-8" />
<script type="text/javascript">
    var djConfig = {
        isDebug: false,
        parseOnLoad: true,
        baseUrl: './',
        modulePaths: { 'Hark': '.',
           'unc': 'unc'  
        },
        dojoBlankHtmlUrl: 'blank.html'
    };
</script>
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/dojo/1.5/dojo/dojo.xd.js"></script>
<script type="text/javascript" src="/libs/uow/trace.js"></script>
<script type="text/javascript" src="/libs/uow.js"></script>
<script type = "text/javascript">
    dojo.require("dijit.form.Button");
    function form() {
        var form = dojo.create("form",{enctype:"multipart/form-data", method:"POST", id:"upload_form1"},dojo.body());
        var label1 = dojo.create("label",{innerHTML:"Text: "},form);
        var text = dojo.create("input",{name:"tags"},form);
        var text = dojo.create("input",{value:"hello"},form);
        var label2 = dojo.create("label",{innerHTML:"Picture"},form);
        var file = dojo.create("input",{type:"file",name:"file"},form);
        var button = dojo.create("button",{innerHTML:"Submit"},dojo.body());
        dojo.connect(button,'onclick',dojo.hitch(this,submit));
    }
    function form2() {
        var div = dojo.create("div",{id:"first"},dojo.body());
        var name1 = dojo.create("div",{className:"second"}, div);        
        var bold = dojo.create("b",{innerHTML:"Tab 1"},name1);
        var tab1 = dojo.create("form",{enctype:"multipart/form-data", method:"POST", id:"uploadForm1", className:"third"},name1);
        var tag = dojo.create("input",{name:"tags",style:{"display":"none"}},tab1);
        var label1 = dojo.create("label",{innerHTML:"Name of Tab:  "},tab1);
        var text1 = dojo.create("input",{id:"text111",className:"text",value:"hi"},tab1);
        var label2 = dojo.create("label",{innerHTML:"&nbsp; Tab Picture: "},tab1);
        var text2 = dojo.create("input",{id:"text121",type:"file", name:"file", disabled:"disabled",className:"disabled"},tab1);
        if (text1.value.trim()!="") {
            text2.disabled = "";
            text2.className = "";
        }
        var a = dojo.create("button",{innerHTML:"Clear", disabled:"disabled"},tab1);
        var label3 = dojo.create("label",{innerHTML:"&nbsp; # Images for Tab: "},tab1);
        var text3 = dojo.create("select",{id:"form11", disabled:"disabled",className:"disabled"},tab1);
        if (text2.value.trim()!="") {
            text3.disabled = "";
            text3.className = "";
        }
        
        var name = dojo.create("input",{name:"description",value:"uploadForm1",style:{"display":"none"}},tab1);
        var button = dojo.create("button",{innerHTML:"Submit"},div);
        dojo.connect(button,'onclick',dojo.hitch(this,next));

    }
    
    function next() {
        dojo.byId("first").style.display = "none";
        var div = dojo.create("div",null,dojo.body());
        var button = dojo.create("button",{innerHTML:"Submit"},div);
        dojo.connect(button,'onclick',dojo.hitch(this,submit));
    }
    
    function submit() {
        var def = uow.getDatabase({
            database: 'Media',
            collection: 'Image',
            mode: 'crud' });
        def.addCallback(function(db) {
            db.upload({
                form: dojo.byId("uploadForm1"),
                load: function(data, ioArgs) {
                    console.log('load', data);
                },
                error: function(msg, ioArgs) {
                    console.log('error', msg);
                }
            });
        });
    }
    
    function show() {
        var def = uow.getDatabase({
            database: 'Media',
            collection: 'Image',
            mode: 'crud' });
        def.then(function(db) {
            db.fetch({
                query: {"title":""},
                onItem: function(item) {
                    console.log(item);
                }
            });
        });
    }
    
    dojo.addOnLoad(form2);
</script>
</head>
<body>

<!--   <form id="upload_form" method="POST" enctype="multipart/form-data">  
    <input name="tags">
    <input name="description">
    <input type="file" name="file">
   </form> 
    <button onClick="submit()">Submit</button>
    <button onClick="show()">Show Database</button> -->
</body>
</html>