<html>
<title>Example file upload</title>
<head>
<script type="text/javascript">
    var djConfig = {
        isDebug: false,
        parseOnLoad: true,
        baseUrl: './',
        modulePaths: { 'Hark': '.',
           'unc': 'unc'  
        },
        dojoBlankHtmlUrl: 'blank.html'
    };
</script>
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/dojo/1.5/dojo/dojo.xd.js"></script>
<script type="text/javascript" src="/libs/uow/trace.js"></script>
<script type="text/javascript" src="/libs/uow.js"></script>
<script type = "text/javascript">
    dojo.require("dijit.form.Button");
    /*function form() {
        var form = dojo.create("form",{method:"POST", enctype:"multipart/form-data"},dojo.body());
        var label1 = dojo.create("label",{innerHTML:"Text: "},form);
        var text = dojo.create("input",null,form);
        var label2 = dojo.create("label",{innerHTML:"Picture"},form);
        var file = dojo.create("input",{type:"file"},form);
        var button = dojo.create("button",{innerHTML:"Submit"},dojo.body());
        dojo.connect(button,'onclick',dojo.hitch(this,submit,form));
    }*/
    function submit() {
        var def = uow.getDatabase({
            database: 'Media',
            collection: 'Image',
            mode: 'crud' });
        def.addCallback(function(db) {
            db.upload({
                form: dojo.byId("upload_form"),
                load: function(data, ioArgs) {
                    console.log('load', data);
                },
                error: function(msg, ioArgs) {
                    console.log('error', msg);
                }
            });
        });
    }
    
    function show() {
        var def = uow.getDatabase({
            database: 'Media',
            collection: 'Image',
            mode: 'crud' });
        def.then(function(db) {
            db.fetch({
                query: {"title":""},
                onItem: function(item) {
                    console.log(item);
                }
            });
        });
    }
    
    //dojo.addOnLoad(form);
</script>
</head>
<body>
<div class="ImageUpload">
    <form id="upload_form" method="POST" enctype="multipart/form-data">
        
        <table>
        <label>Tags: <input type="text" name="tags"></label>
        </tr>
        <tr>
            <td><label>Description: </label></td>
            <td><input type="text" name="description"></input></td>
        </tr>
        <tr>
            <td><label>Choose File: </label><td>
            <td><input type="file" name="file" id="file"></input></td>
        </tr>
        </table>
    </form> 
    <button onClick="submit()">Submit</button>
    <button onClick="show()">Show Database</button>
</div>
</body>
</html>