<html>
<title>Example file upload</title>
<head>
<script type="text/javascript">
    var djConfig = {
        isDebug: false,
        parseOnLoad: true,
        baseUrl: './',
        modulePaths: { 'Hark': '.',
           'unc': 'unc'  
        },
        dojoBlankHtmlUrl: 'blank.html'
    };
</script>
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/dojo/1.5/dojo/dojo.xd.js"></script>
<script type="text/javascript" src="/libs/uow/trace.js"></script>
<script type="text/javascript" src="/libs/uow.js"></script>
<script type = "text/javascript">
    dojo.require("dijit.form.Button");
    function form() {
        var form = dojo.create("form",{enctype:"multipart/form-data", method:"POST", id:"upload_form1"},dojo.body());
        var label1 = dojo.create("label",{innerHTML:"Text: "},form);
        var text = dojo.create("input",{name:"description",innerHTML:""},form);
        var label2 = dojo.create("label",{innerHTML:"Picture"},form);
        var file = dojo.create("input",{type:"file",name:"file",innerHTML:""},form);
        var button = dojo.create("button",{innerHTML:"Submit"},dojo.body());
        dojo.connect(button,'onclick',dojo.hitch(this,submit));
    }
    function submit() {
        console.log(dojo.byId("upload_form1").file.value);
        var def = uow.getDatabase({
            database: 'Media',
            collection: 'Image',
            mode: 'crud' });
        def.addCallback(function(db) {
            db.upload({
                form: dojo.byId("upload_form1"),
                load: function(data, ioArgs) {
                    console.log('load', data);
                },
                error: function(msg, ioArgs) {
                    console.log('error', msg);
                }
            });
        });
    }
    
    function show() {
        var def = uow.getDatabase({
            database: 'Media',
            collection: 'Image',
            mode: 'crud' });
        def.then(function(db) {
            db.fetch({
                query: {"title":""},
                onItem: function(item) {
                    console.log(item);
                }
            });
        });
    }
    
    dojo.addOnLoad(form);
</script>
</head>
<body>

    <form id="upload_form" method="POST" enctype="multipart/form-data">
  <div class="ImageUpload">      
        <input name="tags">

           <input name="description">
           <input type="file" name="file">
           <selected>
           <option>0</option>
           </selected>
   </div>
    </form> 
    <button onClick="submit()">Submit</button>
    <button onClick="show()">Show Database</button>
</body>
</html>