.tabs {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 10px;
    color: #357EC7;
    background: -moz-linear-gradient(top,  #fff380,  #fff);
    background: -webkit-gradient(linear, left top, left bottom, from(#fff380), to(#fff));
}

.td1 {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 10px;
    color: #357EC7;
    background: -moz-linear-gradient(top,  #fdd017,  #fff);
    background: -webkit-gradient(linear, left top, left bottom, from(#fdd017), to(#fff));
    font-size: 150%;
    font-weight: bold;
}

.mainContent {
    border: 1px solid black;
    height: 90%;
    width: 98.5%;
    overflow: auto;
}

.first {
    font-size: 25px;
}

.grid {
    font-size: 15px;
}

.dataTable {
    border: 1px solid black;
    border-collapse: collapse;
    width: 98.5%;
    text-align: center;
}

.td2 {
    border: 1px solid black;
    border-collapse: collapse;
    color: 	#4E4848;
    background: #B7CEEC;
}

.td3 {
    border: 1px solid black;
    border-collapse: collapse;
}

.second {
    font-size: 15px;
    position: relative;
    left: 1%;
    width: 98%;
}

.text {
    width: 200px;
    /*position: absolute;*/
    left: 150px;
}

.third {
    font-size: 12px;
    position: relative;
    left: 2%;
    width: 900px;
}

.contentTable {
    font-size: 12px;
    left: 5%;
    position: relative;
    border: 1px solid black;
    border-collapse: collapse;
}

.contentItem {
    padding: 2px;
    width: 23%;
    border: 1px solid black;
}