<!DOCTYPE html>
<html lang="en">
<head>
<title>Template</title>
  <meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;"/>
  <link rel="icon" type="image/png" href="iui/iui-favicon.png">
  <link rel="apple-touch-icon" href="iui/iui-logo-touch-icon.png" />
  <meta name="apple-mobile-web-app-capable" content="yes" />
  <link rel="stylesheet" href="iui/iui.css" type="text/css" />

  <link rel="stylesheet" title="Default" href="iui/t/default/default-theme.css"  type="text/css"/>
  <link rel="stylesheet" href="css/iui-panel-list.css" type="text/css" />
  
  <script type = 'text/javascript'>
    var djConfig = {
        isDebug: false,
        parseOnLoad: true,
        baseUrl: './'
      };
  </script>
  <script src="http://ajax.googleapis.com/ajax/libs/dojo/1.5/dojo/dojo.xd.js" type="text/javascript"></script>
  <script type="text/javascript" src="/libs/uow/trace.js"></script>
  <script type="text/javascript" src="/libs/uow.js"></script>
  <script type = "text/javascript">
  
    var topTabs = [
        {
            "name": "#school",
            "nameTag":"school",
            "image": "school.jpg",
            "audioImages": [
                {
                    "pic":"math.jpg",
                    "word":"math"
                },
                {
                    "pic":"socialStudies.gif",
                    "word":"culture"
                },
                {
                    "pic":"english.jpg",
                    "word":"english"
                },
                {
                    "pic":"chemistry.jpg",
                    "word":"chemistry"
                },
                {
                    "pic":"biology.jpg",
                    "word":"biology"
                },
                {
                    "pic":"psychology.jpg",
                    "word":"psychology"
                },
                {
                    "pic":"art.gif",
                    "word":"art"
                },
                {
                    "pic":"economics.gif",
                    "word":"economics"
                },
                {
                    "pic":"physics.jpg",
                    "word":"physics"
                }
            ]
        },
        {
            "name": "#family",
            "nameTag":"family",
            "image": "family.jpg",
            "audioImages": [
                {
                    "pic":"mother.jpg",
                    "word":"mother"
                },
                {
                    "pic":"father.jpg",
                    "word":"father"
                }
            ]
        },
        {
            "name": "#career",
            "nameTag":"career",
            "image": "career.jpg",
            "audioImages": [
                {
                    "pic":"teacher.jpg",
                    "word":"teacher"
                },
                {
                    "pic":"janitor.gif",
                    "word":"janitor"
                }
            ]
        }
    ]
    var bottomTabs = [
        {
            "name": "#animal",
            "nameTag":"animal",
            "image": "animals.jpg",
            "audioImages": [
                {
                    "pic":"cat.jpg",
                    "word":"cat"
                },
                {
                    "pic":"frog.jpg",
                    "word":"frog"
                }
            ]
        }, 
        {
            "name": "#plant",
            "nameTag":"plant",
            "image": "plant.jpg",
            "audioImages": [
                {
                    "pic":"rose.jpg",
                    "word":"rose"
                },
                {
                    "pic":"pine.jpg",
                    "word":"pine"
                }
            ]
        },
        {
            "name": "#math",
            "nameTag":"math",
            "image": "number.gif",
            "audioImages": [
                {
                    "pic":"algebra.jpg",
                    "word":"algebra"
                },
                {
                    "pic":"geometry.gif",
                    "word":"geometry"
                }
            ]
        } 
    ]
    
    var currentTab = null;
  
        function startUp() {
            uow.getAudio().addCallback(start);
        }
        function start(audio) { 
            var toolbar = dojo.create("div", {className:"toolbar"},dojo.body());
            var deBody = dojo.create("div", {className:"panel",selected:"true", id:""}, dojo.body());
            
            createTabs(audio);
            
            var imgTable = dojo.create("table",{id:"#tTable",selected:"true",style:{"border-collapse":"collapse","border":"1px solid black","font-size": "75%","width":"99.9%","height":"70px"}},toolbar);
            var tr = dojo.create("tr",{id:"#tTr",style:{"border-collapse":"collapse"}},imgTable);
            dojo.forEach(topTabs, function(tab) {
                var td = dojo.create("td",{id:"#tTd",align:"center",style:{"border":"1px solid black","width":"33.3%"}}, tr);
                var caption = dojo.create("div",{innerHTML:tab.nameTag, selected:"true", style:{"align":"center"}},td);
                var a = dojo.create("a",{href:tab.name},td);
                var image = dojo.create("img",{src:tab.image, height:"45px", width:"50px"}, a);
                dojo.connect(a, 'onmouseup', function() {
                    if (currentTab != tab) {
                        if (currentTab!=null) {
                            if (currentTab.nameTag!=null) {
                                document.getElementById(currentTab.nameTag).setAttribute("selected","false");
                            }
                            else {
                                document.getElementById("form").setAttribute("selected","false");
                            }
                        }
                        currentTab = tab;
                        a.href = tab.name;
                        document.getElementById(currentTab.nameTag).setAttribute("selected","true");
                    }
                    else {
                        a.href = "javascript://";
                    }
                });
            });
            
            var leftTable = dojo.create("table",{id:"sideTable",style:{"width":'54px',"top":'70px',"height":'200px'},selected:"true"},dojo.body());
                var tr = dojo.create("tr",null,leftTable);
                var td = dojo.create("td",{id:"sidetd1",style:{"height":"50px"}, innerHTML:"Please give me a moment to respond."},tr);
                    dojo.connect(td, 'onmouseup',dojo.hitch(this,playSound,audio,"Please give me a moment to respond."));
                var tr = dojo.create("tr",null,leftTable);
                var td = dojo.create("td",{id:"sidetd1",style:{"height":"50px"}, innerHTML:"I don't understand"},tr);
                    dojo.connect(td, 'onmouseup',dojo.hitch(this,playSound,audio,"I don't understand"));
                var tr = dojo.create("tr",null,leftTable);
                var td = dojo.create("td",{id:"sidetd1",style:{"height":"50px"}, innerHTML:"Can you repeat that, please?"},tr);
                    dojo.connect(td, 'onmouseup',dojo.hitch(this,playSound,audio,"Can you repeat that, please?"));
                var tr = dojo.create("tr",null,leftTable);
                var td = dojo.create("td",{id:"sidetd1",style:{"height":"50px"},innerHTML:"I need help."},tr);
                    dojo.connect(td, 'onmouseup',dojo.hitch(this,playSound,audio,"I need help"));
            
            var rightTable = dojo.create("table",{id:"sideTable",style:{"width":"54px","height":"215px","left":"265px","top":"70px"},selected:"true"},dojo.body());
            var tr = dojo.create("tr",null,rightTable);
            var td = dojo.create("td",{id:"sidetd2",style:{"height":"107px"}, innerHTML:"Display Text Button"},tr);
                dojo.connect(td,'onmouseup',dojo.hitch(this,display));
            var tr = dojo.create("tr",null,rightTable);
            var td = dojo.create("td",{id:"sidetd2",style:{"height":"108px"}, innerHTML:"Keyboard Button"},tr);
                dojo.connect(td,'onmouseup',function() {
                    if (currentTab != document.getElementById("form")) {
                        if (currentTab!=null) {
                            document.getElementById(currentTab.nameTag).setAttribute("selected","false");
                        }
                        currentTab = document.getElementById("form");
                        td.href = "form";
                        currentTab.setAttribute("selected","true");
                    }
                    else {
                        td.href = "javascript://";
                    }
                });
            
            var footer = dojo.create("div",{className:"menu",selected:"true"},dojo.body());
    
            var imgTable2 = dojo.create("table",{id:"#tTable",selected:"true",style:{"border-collapse":"collapse","border":"1px solid black","font-size": "75%","width":"99.9%","height":"70px", "top":"235px"}},footer);
            var tr = dojo.create("tr",null,imgTable2);
            dojo.forEach(bottomTabs, function(tab) {
                var td = dojo.create("td",{align:"center",style:{"width":"33.3%","border":"1px solid black"}}, tr);
                var caption = dojo.create("div",{innerHTML:tab.nameTag, selected:"true", style:{"align":"center"}},td);
                var a = dojo.create("a",{href:tab.name},td);
                var image = dojo.create("img",{src:tab.image, height:"45px", width:"50px"}, a);
                dojo.connect(a, 'onmouseup', function() {
                    if (currentTab != tab) {
                        if (currentTab!=null) {
                            if (currentTab.nameTag!=null) {
                                document.getElementById(currentTab.nameTag).setAttribute("selected","false");
                            }
                            else {
                                document.getElementById("form").setAttribute("selected","false");
                            }
                        }
                        currentTab = tab;
                        a.href = tab.name;
                        document.getElementById(currentTab.nameTag).setAttribute("selected","true");
                    }
                    else {
                        a.href = "javascript://";
                    }
                });
            });
        }
        function createTabs(audio) {
            dojo.forEach(topTabs, function(tab) {
                var div = dojo.create("div",{id:tab.nameTag,className:"panel",style:{"top":"75px","left":"60px","width":"204px","height":"216px"}},dojo.body());
                dojo.forEach(tab.audioImages,function(stuff) {
                    var imgDiv = dojo.create("div",{align:"center",style:{"caption-side":"top","width":"68px","height":"72px","float":"left"}},div);
                    var caption = dojo.create("div",{id:"mainCap", style:{"font-size": "70%", "display":"block"}, innerHTML:stuff.word, selected:"true"},imgDiv);
                    var a = dojo.create("a",{href:"javascript:;"},imgDiv);
                    var img = dojo.create("img",{src:stuff.pic, id:"mainImg",height:"75%", width:"75%", alt:stuff.word},a);
                        dojo.connect(a,'onmouseup',dojo.hitch(this,'playSound',audio,stuff.word));
                });
            });
            dojo.forEach(bottomTabs, function(tab) {
                var div = dojo.create("div",{id:tab.nameTag,className:"panel",style:{"top":"75px","left":"60px","width":"204px","height":"216px"}},dojo.body());
                dojo.forEach(tab.audioImages,function(stuff) {
                    var imgDiv = dojo.create("div",{align:"center",style:{"caption-side":"top","width":"68px","height":"72px","float":"left"}},div);
                    var caption = dojo.create("div",{id:"mainCap", style:{"font-size": "70%", "display":"block"}, innerHTML:stuff.word, selected:"true"},imgDiv);
                    var a = dojo.create("a",{href:"javascript:;"},imgDiv);
                    var img = dojo.create("img",{src:stuff.pic, id:"mainImg",height:"75%", width:"75%", alt:stuff.word},a);
                        dojo.connect(a,'onmouseup',dojo.hitch(this,'playSound',audio,stuff.word));
                });
            });
            
            var formDiv = dojo.create("div",{id:"form",className:"panel",style:{"top":"75px","left":"60px","width":"204px","height":"216px"}}, dojo.body());
            var form = dojo.create("form",null,formDiv);
            var word = dojo.create("textarea",{id:"word",cols:"20",rows:"10"},form);
            var speak = dojo.create("input",{id:"speak",type:"button",value:"speak",onclick:"javascript:;",style:{"vertical-align":"bottom"}},form);
                dojo.connect(speak,'onmouseup',dojo.hitch(this, function() {
                   playSound(audio,form.elements[0].value);
                }));
        }
        
        function playSound(audio, word) {
            audio.stop({channel:"sound"});
            audio.say({text:word, channel:"sound"});                            
       }
       
       function display() {
          if (currentTab!=null) {
            for (var i=0; i<document.getElementsByTagName("div").length; i++) {
                if(document.getElementsByTagName("div").item(i).parentNode.parentNode.id == currentTab.nameTag) {
                    if (document.getElementsByTagName("div").item(i).id = "mainCap" && document.getElementsByTagName("div").item(i).style.display == "block"){
                        document.getElementsByTagName("div").item(i).style.display="none";
                    }
                    else if (document.getElementsByTagName("div").item(i).id = "mainCap" && document.getElementsByTagName("div").item(i).style.display == "none"){
                        document.getElementsByTagName("div").item(i).style.display="block";
                    }
                }
            }
         }
       }
       
        dojo.addOnLoad(startUp);
  </script>
</head>
<body>
</body>
</html>